<p>
  <strong>Name:</strong>
  <h1><%= @user.name %></h1>
</p>

<p>
  <strong>Email:</strong>
  <h1><%= @user.email %></h1>
</p>




<p>If you want to edit your account information, please click 'Edit' button below</p>
<%= link_to 'Edit Account', edit_user_path(@user) %> <br />




<h1>Go to your check box to save your hospital selection</h1>

<%= link_to 'Check Box', pairings_path %><br />





<%= link_to 'Go back to the main page!', users_path %><br />


