<h1>Hospital List</h1>
<p>
	<%= link_to "Show All", hospitals_path(hospitalfilter:"showall") %>
	<%= link_to "By Hospital Name Only", hospitals_path(hospitalfilter:"name") %>
  <%= link_to "By City Only", hospitals_path(hospitalfilter:"location") %>
<%= link_to "By Primary Care Only", hospitals_path(hospitalfilter:"primary_care")%>
<%= link_to "By Registered Nurse Only", hospitals_path(hospitalfilter:"registered_nurse")%>
<%= link_to "By State Gov Benefit Only", hospitals_path(hospitalfilter:"state") %>
<%= link_to "By Federal Gov Benefit Only", hospitals_path(hospitalfilter:"federal")%>
  
  <br>
</p>

  <ul>
<% @hospitals.each do |h| %>
  <li>
    <strong> <%= h.name %> </strong> 
    [<%= h.name %>]
    <%= link_to "Click here for more information", hospital_path(h) %>
	</li>

<% end %>
</ul>




