<h1> Save this hospital on your list </h1>


<%= render 'form' %>

<%= form_for @hospital do |f| %>
	Name: <%= f.select :name, name_array() %>
	Practice_field: <%= f.select :practice_field, practice_field_array () %>
	Location: <%= f.select :location, location_array () %>
	Benefit: <%= f.select :benefit, benefit_array () %>
<%= f.submit " Submit" %>

<%= link_to "", pairings_path %>

<% end %>

<%= link_to "Back to the hospital list", hospitals_path %>